/*====================================================================
 common
====================================================================*/
/*
 * @reset
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
    margin: 0;
    padding: 0;
}

article, aside, figure, figcaption, footer, h1, h2, h3, h4, h5, h6, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

li {
    list-style: none;
}

fieldset {
    border: none;
}

input, textarea, select, label {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: middle;
}

textarea {
    overflow: auto;
}

legend {
    display: none;
}

img {
    border: none;
    vertical-align: top;
}

object {
    vertical-align: middle;
    outline: none;
}

em, strong {
    font-weight: bold;
    font-style: normal;
}

small {
    font-size: 100%;
}

abbr, acronym {
    border: none;
    font-variant: normal;
}

.button {
    width: 100%;
    background: #000000;
    color: #fff;
    border: none;
    padding: 14px 0;
    font-size: 12px;
    font-weight: normal;
    font-family: '蟆丞｡壹ざ繧ｷ繝�け Pr6N', sans-serif;
    text-decoration: none;
    text-align: center;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.button:hover {
    /*background: #00af9f;*/
    cursor: pointer;
    opacity: 0.6;
}

.button:active {
    cursor: pointer;
}

.buy_button--noItem .button {
    display: block;
    width: 100%;
    font-weight: bold;
}

.boxRight{
  float: right !important;
}

#i18 {
    position: fixed;
    top: 10px;
    left: 10px;
}

/* colorBox */
#reportBtn a.cboxElement button{
    cursor: pointer;
}

/* fixedHeader */
#fixedHeader ul li{
    float: left;
}

#fixedHeader li.topRightNavLi a{
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 1px 0px 2px rgba(150, 150, 150, .4);
    display: block;
    margin: 1px 0 0;
    padding: 5px 15px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;

}
#fixedHeader li.topRightNavLi a:hover{
    box-shadow: 0px 0px 0px 1px rgba(150, 150, 150, .2);
    padding: 6px 15px 4px;
}
#fixedHeader li.topRightNavLi.base{
    margin: 0 10px 0 0;
}
#fixedHeader li.topRightNavLi.cart{
}

/*====================================================================
 common: shop繝壹�繧ｸ
 selector: body.shop
====================================================================*/
body.shop {
    color: #000;
    font-family: franklin-gothic-comp-urw-1,franklin-gothic-comp-urw-2,"Arial Narrow",sans-serif;
    /*font-family: "Hiragino Kaku Gothic ProN","繝偵Λ繧ｮ繝手ｧ偵ざ ProN W3", "�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け", sans-serif;*/
    font-family: '�ｭ�ｳ �ｰ繧ｴ繧ｷ繝�け', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    word-break: break-all;
    -webkit-text-size-adjust: none;
}

body.shop .wrapper{
    margin: 0 auto 60px;
    padding: 0 10px;
    width: 960px;
}

/* 2parts */
body.shop .part2{

}

body.shop .part2 .part{
    float: left;
    margin: 0 15px 0;
    width: 445px;
}
body.shop section.part2{
    padding: 0 0 40px;
}

/* 4parts */
body.shop .part4{
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}
body.shop .part4 .part{
    box-sizing: border-box;
    float: left;
    margin: 0 15px 30px;
    width: 210px;
    height: 330px;
}
body.shop section.part4{
}
body.shop footer.part4{
    padding: 40px 0;
}

/* header */
body.shop #mainHeader{
    /*border-top: 6px solid #000;*/
}
body.shop #fixedHeader{
    right: 0;
    padding: 5px 10px;
    position: fixed;
    top: 0;
}
body.shop #shopHeader{
}
body.shop #shopHeader h1{
    display: block;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 50px 0;
    text-align: center;
}
body.shop #shopHeader h1 a{
    padding: 10px 0;
}
body.shop #shopHeader h1 img{
    max-width: 960px;
    padding: 10px 0;
}
body.shop #shopHeader nav{
    border-bottom: 1px dotted #000;
    border-top: 1px dotted #000;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Letter Gothic Std';
    margin: 10px 0;
}
body.shop #shopHeader nav ul{
    text-align: center;

}
body.shop #shopHeader nav ul li{
    display: inline-block;
			 *display: inline;
			 *zoom: 1;
    line-height: 20px;
    margin: 0 20px;
    height: 40px;
}

body.shop #shopHeader nav ul li:hover {
    border-bottom: solid 2px #000000;
    height: 38px;
}

body.shop #shopHeader nav ul li a{
    display: block;
    padding: 10px;
}

/* footer */
body.shop #mainFooter{
    font-size: 11px;
    font-weight: bold;
    margin: 60px auto 20px;
}

body.shop #mainFooter ul {

}

body.shop #mainFooter ul li {
    float: left;
}
body.shop #mainFooter .footerMenu{
    width: 100%;
}
body.shop #mainFooter .footerMenu ul{


}
body.shop #mainFooter .footerMenu li{
    height: 26px;
    font-size: 12px;
    font-family: '蟆丞｡壹ざ繧ｷ繝�け Pr6N', sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: #808080;
    float: left;
    margin: 0 30px 10px 0;
    vertical-align: middle;
}
body.shop #mainFooter .footerMenu .sns {
    float: right;
    margin: 0;
}
body.shop #mainFooter .footerMenu .twitter{
  margin: 5px 0 0;
}

body.shop #mainFooter .footerMenu li.sns:hover {
    border-bottom: none;
}
body.shop #mainFooter .footerMenu li a {
   color: #808080;
}
body.shop #mainFooter .footerMenu li a:hover{
    border-bottom: 1px solid #808080;
}
body.shop #mainFooter .footerMenu li img{
    display: block;
    float: left;
    margin: 0 10px 0 0;
    max-height: 24px;
    max-width: 24px;
}

/* Pinned Blog
 -------------------------------------------------------------- */
.pinnedBlog {
  padding: 0 0 20px;
}
.pinnedBlog .pinnedBlog_title{
	font-size: 12px;
  text-align: center;
}
.pinnedBlog .pinnedBlog_title::before{
  content: "\e919";
	font-family: 'baseicon';
	padding: 0 5px 0 0;
}
.pinnedBlog .pinnedBlog_title a{
	color: inherit;
	display: inline;
}
.publish_date.blog_pinned::before{
	font-family: 'baseicon';
	content: "\e929";
	padding: 0 2px 0 0;
}

/**
 * page:
 * selector: #shopTopPage
 * about: 繧ｷ繝ｧ繝��繝医ャ繝励�繝ｼ繧ｸ
 *************************************/

/* item */
body#shopTopPage .item{
    padding: 30px 0;
    text-align: center;
    font-family: '繝偵Λ繧ｮ繝手ｧ偵ざ Pro', sans-serif;
}
body#shopTopPage .item .itemTitle{
    margin: 20px 0 5px;
    text-align: center;
}

body#shopTopPage .item a {
    color: #4d4d4d;
}
body#shopTopPage .item a .itemTitle h2{
    display: block;
    font-size: 14px;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 206px;
    margin: 2px auto;
}
body#shopTopPage .item .itemImg{
    box-sizing: border-box;
    width: 210px;
    height: 210px;
    line-height: 208px;
    margin:  auto;
    overflow: hidden;
    padding: 1px;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}
body#shopTopPage .item:hover .itemImg{
    border: 1px dotted #ed4242;
    padding: 0;
}
body#shopTopPage .item:hover a {
    color: #ed4242;
}
body#shopTopPage .item .itemImg a{
    display: block;
    position: relative;
}
body#shopTopPage .item .itemImg img{
    max-height: 206px;
    max-width: 206px;
    vertical-align: middle;
}

body#shopTopPage .item .itemImg a .soldout_cover {
    background-color: rgba(255,255,255,0.9);
    bottom: 0;
    /*filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000);*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";*/
    filter: alpha(opacity=80);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=80)";  /* ie 8 */
    -moz-opacity:0.8;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.8;              /* Safari 1.x */
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    zoom:1;
}
body#shopTopPage .item .itemImg a .soldout_cover:not(:target) {
    filter: none;
    -ms-filter: none;
}

body#shopTopPage .item .itemImg a .soldout_cover p {
    text-align: center;
    color: #ED4242;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Letter Gothic Std';
}

body#shopTopPage .item .itemDetail .itemPrice{
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
}
body#shopTopPage .item .itemDetail .discountPrice {
    color: #E75C5C;
    margin: 0;
}
body#shopTopPage .item .itemDetail .discountPrice__ratio {
    border:1px solid #E75C5C;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    margin-right: 5px;
    padding: 0 5px;
}
body#shopTopPage .item .itemDetail .discountPrice__calcPrice {
    font-weight: bold;
    font-size: 10px;
    line-height: 1.8;
    letter-spacing: 1px;
    white-space: nowrap;
}

body#shopTopPage .item .itemDescription{
    color: #191919;
    margin: 10px 0;
}


/**
 * page:
 * selector: #shopDetailPage
 * about: 繧ｷ繝ｧ繝��蝠�刀隧ｳ邏ｰ繝壹�繧ｸ
 *************************************/
body#shopDetailPage #mainContent{
    background-color: #FFF;
    margin-bottom: 50px;
    padding: 80px 65px;
    width: 830px;
}

/* item */
body#shopDetailPage #mainContent .item{
    float: left;
    position: relative;
    width: 493px;
}
body#shopDetailPage #mainContent .item .itemImg{
    height: 400px;
}
body#shopDetailPage #mainContent .item .itemImgSlide{
    float: left;
    width: 400px;
}
body#shopDetailPage #mainContent .item .bx-wrapper{
    float: left;
    width: 400px;
}
/* slideImg */
body#shopDetailPage #slideImg .imgBox {
    border-radius: 10px;
    height: 400px;
    line-height: 400px;
    text-align: center;
    width: 400px;
}
body#shopDetailPage #slideImg .imgBox img{
    max-height: 400px;
    max-width: 400px;
    vertical-align: middle;

}
body#shopDetailPage #slideImgPager{
    float: left;
    height: 400px;
    overflow: hidden;
    padding: 0 0 0 10px;
    width: 83px;
}
body#shopDetailPage #slideImgPager li + li{
    margin-top: 10px;
}
body#shopDetailPage #slideImgPager .smallImgBox{
    /*border: 1px dotted #000;*/
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
}
body#shopDetailPage #slideImgPager .smallImgBox img{
    max-height: 64px;
    max-width: 64px;
    vertical-align: middle;
}

body#shopDetailPage #slideImgPager .mCSB_inside>.mCSB_container {
    margin: 0;
}

/* purchase */
body#shopDetailPage #mainContent .purchase{
    box-sizing: border-box;
    margin: 0 0 0 520px;
    /*padding: 20px;*/
    width: 280px;
    font-family: '繝偵Λ繧ｮ繝手ｧ偵ざ Pro', sans-serif;
    border-top: dotted 1px #000000;
    border-bottom: dotted 1px #000000;
}

body#shopDetailPage header h1.itemTitle{
    font-size: 27px;
    color: #3c3c3c;
    margin-bottom: 55px;
}

body#shopDetailPage #purchaseForm{
    color: #000;
    margin-bottom: 35px;
}
body#shopDetailPage #purchaseForm label{
    color: #aaa;
    margin: 0 0 5px;
}
body#shopDetailPage #purchaseForm select{
    cursor: pointer;
}
body#shopDetailPage #purchaseForm #purchaseSelect{
    margin: 0;
}
body#shopDetailPage #purchaseForm .purchaseElement {
    margin: 5px 0 15px;
    overflow: hidden;
}
body#shopDetailPage #purchaseForm .purchaseElement select {
    max-width: 235px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space:nowrap;
}
body#shopDetailPage #purchaseForm .purchaseElement label {
		color: #000;
		font-size: 14px;
    margin-right: 10px;
}

body#shopDetailPage .report{
    text-align: left;
}body#shopDetailPage .report a{
     color: #aaa;
     display: block;
     margin-right: 15px;
     padding-top: 3px;
     font-size: 11px;
     text-align: right;
 }
body#shopDetailPage .report a:hover {
    text-decoration: underline;
}
body#shopDetailPage .itemPrice{
}
body#shopDetailPage .itemPrice h2{
    color: #262626;
    font-size: 24px;
    font-family: '繝偵Λ繧ｮ繝手ｧ偵ざ Pro', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 30px 0;
    text-align: left;
}
body#shopDetailPage .itemPrice .discountPrice{
}
body#shopDetailPage .itemPrice .discountPrice__default{
    color: #666;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
    text-decoration: line-through;
    vertical-align: top;
}
body#shopDetailPage .itemPrice .discountPrice__ratio{
    border:1px solid #E75C5C;
    color: #E75C5C;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 0 5px;
    vertical-align: top;
}
body#shopDetailPage .itemPrice .discountPrice__calcPrice{
    color: #E75C5C;
    display: block;
    font-weight: bold;
    line-height: 1.3;
    padding: 10px 0 0;
}

body#shopDetailPage .purchase .itemPrice_soldout {
    margin-top: 25px;
}

body#shopDetailPage .purchase .itemPrice_soldout h2{
    text-decoration: line-through;
    display: block;
    margin: 0;
}
body#shopDetailPage .purchase .itemPrice_soldout>span {
    font-size: 16px;
    font-family: 'Letter Gothic Std';
    color: #ED4242;
    display: block;
    margin-bottom: 20px;
}
body#shopDetailPage #itemAttention{
    font-size: 11px;
    color: #868686;
    line-height: 1.5em;
    margin-bottom: 25px;
}
body#shopDetailPage #itemAttention a {
    color: #868686;
}
body#shopDetailPage #itemAttention a:hover {
    text-decoration: underline;
}
body#shopDetailPage #itemAttention p{
}
body#shopDetailPage #itemAttention .deliveryShortestDay{
    border: 1px solid #57BBAE;
    color: #57BBAE;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 5px;
}
body#shopDetailPage #itemAttention .free{
    font-weight:bold;
}
body#shopDetailPage #itemAttention .free__text {
    color: #57BBAE;
    font-weight:bold;
}
body#shopDetailPage .itemDescription{
    margin: 60px 7px 0 0;
}
body#shopDetailPage .itemDescription p{
    line-height: 24px;
}
body.shop #embedded-tag{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 20px 0 0;
}
body#shopDetailPage #embedded-tag p{
    color: #000;
    margin: 0 0 5px;
}
body#shopDetailPage #embedded-tag textarea{
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    color: #838383;
    padding:5px;
    width: 100%;
}
body#shopDetailPage #buyButton{
    margin: 30px 0 0;
    text-align: center;
}
body#shopDetailPage #buyButton button{
    cursor: pointer;
}
body#shopDetailPage #purchaseForm .soldOut p{
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    padding: 20px 10px 10px;
    text-align: center;
}

/* social */
body#shopDetailPage .social{
    height: 20px;
    margin: 15px 0 30px;
}
body#shopDetailPage .social .twitter{
     display: inline-block;
     vertical-align: top;
     width: 90px;
}
body#shopDetailPage .social .twitter-share-button{
}
body#shopDetailPage .social .fb{
    display: inline-block;
    margin-right:10px;
    vertical-align: top;
}
body#shopDetailPage .social .socialWrapper{
	float:left;
}
body#shopDetailPage .social .report{
    float:right;
}
body#shopDetailPage .social #widget a.widgetLink img{
    line-height: 19px;
    vertical-align: middle;
}

.purchase #widget {
    text-align: left;
    margin: 0;
}
.purchase #widget a.widgetLink {
    font-weight: bold;
    line-height: 22px;
    vertical-align: middle;
}

#twitter-widget-0 {
    width: 105px!important;
}
#twitter-widget-1 {
    width: 105px!important;
}

body.shop #mainFooter .footerMenu li .fb-like {
    margin-top: -5px;
}

/*====================================================================
 About
====================================================================*/

.main {
    width: 960px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    text-align: left;
}

.main #about {
    width: 820px;
    margin: 0 auto;
    padding: 85px 0;
    color: #535353;
}

.main #about h2 {
    font-size: 34px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Letter Gothic Std', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 60px;
    color: #000;
}

.main #about h3 {
    font-size: 28px;
}

.main #about p {
    font-size: 14px;
    font-family: '繝偵Λ繧ｮ繝手ｧ偵ざ Pro', sans-serif;
    line-height: 1.6em;
}

.main #about .social {
    margin: 40px 0 0;
    text-align: center;
		width: 100%;
}
.main #about .social > ul{
	display: inline-block;
}
.main #about .social ul li {
    float: left;
    margin-right: 15px;
}
.main #about .social ul li:last-child {
    margin-right: 0;
}


body.shop #mainFooter .footerMenu ul .social_btn {
    width: 215px;
    float: right;
}

body.shop #mainFooter .footerMenu ul .social_btn li {
    margin: 0;
}

body.shop #mainFooter .footerMenu ul .social_btn li.twitter {
    margin: -5px 0 0 0;
}

/*====================================================================
 Inquiry: 縺雁撫縺�粋繧上○
====================================================================*/

.inquirySection {
    padding: 60px;
}
.inquirySection h1 {
    font-size: 35px;
    font-family: Letter Gothic Std, sans-serif;
    line-height: 35px;
    letter-spacing: 3px;
    margin: 0 0 20px 0;
    color: #1a1a1a;
    text-transform: uppercase;
    text-align: left;
}
.inquirySection p  {
    font-size: 13px;
    font-family: '蟆丞｡壹ざ繧ｷ繝�け Pr6N', sans-serif;
    line-height: 13px;
    color: #000000;
    text-align: left;
}
.inquirySection form {
    width: 652px;
    margin: 40px auto 0;
}
.inquirySection dl {
    text-align: left;
}
.inquirySection dl dt {
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 10px;
}
.inquirySection dl dt span {
    font-size: 11px;
    line-height: 11px;
    margin-left: 5px;
    color: #FB7C8A;
    vertical-align: baseline;
}
.inquirySection dl dd {
    margin-bottom: 20px;
}
.inquirySection dl dd input {
    width: 630px;
    padding: 5px 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.inquirySection dl dd textarea {
    width: 630px;
    height: 135px;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
@-moz-document url-prefix() {
    .inquirySection dl dd textarea {
        font-size: 11px;
    }
}
.inquirySection .control-panel input#buttonLeave {
    width: 290px;
    margin: 55px auto 0;
    padding: 14px 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #cccccc;
    background-color: #000000;
    border: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    display: inherit;
}
.inquirySection .control-panel input#buttonLeave:hover {
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
}
#inquiryConfirmSection p {
    font-size: 13px;
    color: #000000;
    line-height: 13px;
}
#inquiryConfirmSection dd {
    padding-left: 15px;
    font-size: 12px;
}
#inquiryCompleteSection p {
    margin: 30px 0 0;
    line-height: 1.4em;
}
#inquiryCompleteSection a {
    width: 290px;
    margin: 35px auto 0;
    padding: 14px 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #cccccc;
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    display: block;
}
#inquiryCompleteSection a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
}

/*====================================================================
 Apps
====================================================================*/

/**
 * apps: category
 *************************************/
.template #category-menu{
    display: block;
}
.template #category-menu span{
    cursor: pointer;
}
.template #category-menu .category-list{
    display: none;
}
.template #category-menu:hover .category-list{
    display: block;
    padding: 20px 0 0;
    position: absolute;
    z-index: 9999;
}
.template #category-menu .category-list ul {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 3px rgb(100, 100, 100);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    max-width: 250px;
}
.template #category-menu .category-list ul li{
    position: relative;
    border: none;
    float: none;
    height: auto;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.template #category-menu .category-list ul li a{
    display: inline;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 18px;
    white-space: nowrap;
}
.template #category-menu .category-list ul li a:hover{
    border-bottom: none;
    text-decoration: underline;
}

body.template #category-menu span{
    /*font-weight: bold;*/
    display: block;
    padding: 10px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
/*body.template #category-menu span:hover {
    color: #ed4242;
}*/

body.template #category-menu:hover .category-list ul{
    border: inherit;
    border-radius: inherit;
    padding: 0;
}

body.template #category-menu:hover .category-list ul li:before {
    padding-top: 15px;
}
body.template #category-menu:hover .category-list ul li:after {
    padding-bottom: 15px;
}
body.template #category-menu:hover .category-list ul li:hover {
    border-bottom: none;
    background-color: #b3b3b3;
    height: auto;
}

body.template #category-menu:hover .category-list ul li a {
    margin: 0;
    padding: 10px 20px;
    font-family: '蟆丞｡壹ざ繧ｷ繝�け Pr6N', sans-serif;
    display: block;
    max-width: 250px;
    /* 笆ｼ1陦悟宛髯� */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* 笆ｲ1陦悟宛髯� */
}
body.template #category-menu:hover .category-list ul li a:hover {
    text-decoration: none;
}


/* 荳ｭ繧ｫ繝�ざ繝ｪ繧定｡ｨ遉ｺ */
.template #category-menu .appsItemCategoryTag_child .appsItemCategoryTag_lowerchild {
    display: none;
    position: absolute;
    top: 0;
    left: 99%;
    z-index: -1;
}

.template #category-menu .appsItemCategoryTag_lowerchild:hover ,
.template #category-menu .appsItemCategoryTag_child:hover .appsItemCategoryTag_lowerchild {
    display: block;
}

/* .categoryTitle01
-------------------------------------------------------------- */
.categoryTitle01 {
	margin: 38px 0 0 0;
	font-size:20px;
	line-height: 1.1;
	font-weight: bold;
	text-align: center;
}

/* .childCategoryList01
-------------------------------------------------------------- */
.childCategoryList01 {
    text-align: center;
    padding: 17px 0 0;
}

.childCategoryList01_child {
    display: inline-block;
    font-size: 14px;
    letter-spacing: -.40em;
}

.childCategoryList01_link {
    display: inline-block;
    padding: 0 15px;
    letter-spacing: normal;
    line-height: 2;
}

.childCategoryList01_link:hover { text-decoration: underline;}

/**
 * apps: blog
 *************************************/
body.template .etc-menu span{
    /*font-weight: bold;*/
    display: block;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
